/* Basic sample */

body {
  overflow: hidden;
  background-color: #ddd;
  margin: 0;
  padding: 0;
  font-family: -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Helvetica,
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol";
}

.button {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  z-index: 100;
  display:flex;
  align-items:center;
  justify-content:center;
  width:30px;
  background-color:rgba(85,85,85,.7);
  color:rgb(204, 204, 204);
  transition:.2s;
}

.button:hover{
  background-color:rgba(85, 85, 85, 1);
  transition:.2s;
}

.previous-button {
  left:0px;
  height: 100px;
}

.next-button {
 right:0px;
 height: 100px;
}

.flipbook-viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.flipbook-viewport .container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
}

.flipbook-viewport .page {
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.flipbook .page {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.odd:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-left:1px solid rgba(0, 0, 0, 0.05);
}

.flipbook-viewport .page img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

.flipbook-viewport .shadow {
  -webkit-transition: -webkit-box-shadow 0.5s;
  -moz-transition: -moz-box-shadow 0.5s;
  -o-transition: -webkit-box-shadow 0.5s;
  -ms-transition: -ms-box-shadow 0.5s;

  -webkit-box-shadow: 0 0 20px #ccc;
  -moz-box-shadow: 0 0 20px #ccc;
  -o-box-shadow: 0 0 20px #ccc;
  -ms-box-shadow: 0 0 20px #ccc;
  box-shadow: 0 0 20px #ccc;
}

.flipbook-viewport .zoomer .region {
  display: none;
}

.flipbook .region {
  position: absolute;
  overflow: hidden;
  background: #0066FF;
  opacity: 0.2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.flipbook .region:hover {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}

.flipbook .region.zoom {
  opacity: 0.01;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
}

.flipbook .region.zoom:hover {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.flipbook .even .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: -webkit-gradient(linear, left top, right top, color-stop(0.95, rgba(0, 0, 0, 0)), color-stop(1, rgba(0, 0, 0, 0.2)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.2) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.2) 100%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.2) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.2) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.2) 100%);
}

.flipbook .odd .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: -webkit-gradient(linear, right top, left top, color-stop(0.95, rgba(0, 0, 0, 0)), color-stop(1, rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.15) 100%);
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.15) 100%);
  background-image: -ms-linear-gradient(right, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.15) 100%);
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.15) 100%);
  background-image: linear-gradient(right, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0.15) 100%);
}

.flipbook-viewport .zoom-in .even .gradient,
.flipbook-viewport .zoom-in .odd .gradient {
  display: none;
}

.exit-message {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 10000;
}

.exit-message>div {
  width: 140px;
  height: 30px;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  font: 12px arial;
  line-height: 30px;
  color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.zoom-icon {
  position: absolute;
  z-index: 1000;
  width: 22px;
  height: 22px;
  top: 10px;
  right: 10px;
  background-image: url(../pics/zoom-icons.png);
  background-size: 88px 22px;
}

.zoom-icon-in {
  background-position: 0 0;
  cursor: pointer;
}

.zoom-icon-in:hover {
  background-position: -22px 0;
}

.zoom-icon-out {
  background-position: -44px 0;
}

.zoom-icon-out:hover {
  background-position: -66px 0;
  cursor: pointer;
}

.bottom {
  background-color:#e9a0bd;
  padding:12px;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  transition:.2s;
  text-decoration:none;
  z-index:200;
}

.bottom:hover {
  transition:.2s;
  background-color: #f179b7;
}